@import '../maxwidth';
@import '../space';

//
//       CONSTANTS
//
$max-width: 64rem; // 60rem x 20px = 1260px
$gutter: 1rem;
$breakpoint-small: 33rem;
$breakpoint-medium: 48rem;
$breakpoint-max: 60rem;


//
// A MOBILE FIRST GRID
//
@supports (display: grid) {
  //
  // PAGE GRID
  //
  header {
    grid-area: hd;
  }
  main {
    grid-area: main;
  }
  footer {
    grid-area: ft;
  }
  .container {
    display: grid;
    grid-template-areas: "hd" "main" "ft";
    grid-template-rows: 300px auto 40px;
    height: 100vh;
  }

  //
  // HEADER GRID
  //
  .header-container {
    @include max-width($max-width);
    display: grid;
    grid-template-columns: $gutter auto $gutter;
    grid-template-rows: 60px auto 40px 20px;
  }
  .header-logo {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    justify-self: center;
    align-self: center;
  }
  .header-logo-company, .header-logo-slogan {
    text-align:center
  }
  .header-nav {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    align-self: end;
  }

  //
  // HEADER-NAV FLEXBOX
  //
  .header-nav {
    display: flex;
    justify-content: space-between;
  }

  //
  // MAIN
  //

  //
  // MAIN SERVICES
  //
  .service-container {
    @include max-width($max-width);
    display: grid;
    grid-template-columns: $gutter auto $gutter;
    grid-template-rows: auto auto auto;
    padding-bottom: 40px;
  }

  .service-design {
    justify-self: center;
    grid-column: 2 / span 1;
  }
  .service-hosting {
    justify-self: center;
    grid-column: 2 / span 1;
  }
  .service-development {
    justify-self: center;
    grid-column: 2 / span 1;
  }
  .service {
    max-width: 510px;
    margin-top: 60px;
    text-align: center;
  }
  .service-image {
    max-width: 300px;
  }

  @media only screen and (min-width: $breakpoint-medium) {
    .service-container {
      @include max-width($max-width);
      display: grid;
      grid-template-columns: $gutter 1fr 40px 1fr $gutter;
      grid-template-rows: auto auto;
    }

    .service-image {
      max-width: 70%;
    }
    .service-design {
      grid-column: 2 / span 1;
    }
    .service-hosting {
      grid-column: 4 / span 1;
    }
    .service-development {
      justify-self: center;
      grid-column: 2 / span 3;
    }
  }

  @media only screen and (min-width: $breakpoint-max) {
    .service-container {
      @include max-width($max-width);
      display: grid;
      grid-template-columns: $gutter 1fr 40px 1fr 40px 1fr $gutter;
    }

    .service-image {
      max-width: 70%;
    }

    .service-design {
      grid-column: 2 / span 1;
    }
    .service-hosting {
      grid-column: 4 / span 1;
    }
    .service-development {
      justify-self: center;
      grid-column: 6 / span 1;
    }
  }

  //
  // MAIN Contact
  //
  .contact-container {
    height: 100%;
  }
  .contact-width {
    @include max-width(45rem);
  }
  .contact-header {
    margin: 0;
    padding: 3rem 1rem 3rem 1rem;
    text-align: center;
  }
  #contact-message {
    height: 10rem;
  }
  .contact-form > .form-field {
    margin: 40px 20px 40px 20px;
  }

  .contact-form footer {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
  }

  .contact-form {
    margin-bottom: 7rem;
  }

  @media only screen and (min-width: $breakpoint-small) {
    .contact-form {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .contact-form footer {
      padding-right: 20px;
    }

    .contact-form > .form-field {
      margin: 40px 40px 40px 40px;
    }
  }


  //
  // FOOTER GRID
  //
  footer {
  }

  .footer-container {
    @include max-width($max-width);
  }
}
