@import "./layout";
@import "../space";
@import "../font";

//
// RESET
//
figure {
  margin:0;
}


body {
  background: #FFFFFF;
  font-size: 20px;
  margin: 0;
}

//
//  HEADER
//
header {
  background:#856FC5;
  color: #DED5FB;
}

.header-logo-company {
  color: #FFFCFF;
}

.header-nav a {
  color: #DED5FB;
  text-transform: uppercase;
  text-decoration: none;
}

.header-nav a:hover {
  color: #FFFCFF;
}


//
//  MAIN
//

//
// SERVICES
//
.service p {
  font-size: 14px;
}

.service-image {
  background: darken(#FFFFFF, 2%);
}

//
//  FOOTER
//
footer {
  @include ph1();
}
