@import "./layout";
@import "./palette";
@import "../font";
@import "../button";
@import "../ripple";
@import "../form";

//
// RESET
//
figure {
  margin:0;
}

body {
  background: $bg_body;
  font-size: 20px;
  margin: 0;
}

//
//  HEADER
//
header {
  background: $bg-header;
  color: $text-header-secondary;
}

.header-logo-company {
  color: $text-header-primary;
}

.header-nav a {
  color: $text-header-secondary;
  text-transform: uppercase;
  text-decoration: none;
}

.header-nav a:hover {
  color: $text-header-primary;
}


//
//  MAIN
//

//
// MAIN SERVICES PAGE
//
.service p {
  font-size: 14px;
}

.service-image {
  background: darken($bg_body, 2%);
}

// MAIN CONTACT PAGE
@include md-form(darken($bg-body-light, 1%), $bg-body-light,
               lighten($text-body-secondary, 20%), $accent-color,
               $divider-color, $accent-color,
               $error-color);

.contact-header {
  font-size: 20px;
  font-weight: 400;
}
.contact-form {
  font-weight: 300;
  background: darken($bg-body-light, 1%);
  border: $border;
  border-radius: 3px;
}

.contact-form footer .btn {
  padding: 10px;
  @include button-flat($text-accent-color, $bg-body);
  @include ripple();
}

//
//  FOOTER
//
footer {
  background: darken(#FFFFFF, 2%);
}

