// How to use system fonts: https://goo.gl/LhEaBE
//
$font-family-sans-serif:
  // Safari for OS X and iOS (San Francisco)
        -apple-system,
          // Chrome >= 56 for OS X (San Francisco), Windows, Linux and Android
        system-ui,
          // Chrome < 56 for OS X (San Francisco)
        BlinkMacSystemFont,
          // Windows
        "Segoe UI",
          // Android, Chrome OS
        "Roboto",
          // Linux: KDE, Ubuntu, Gnome (are these overridden by system-ui ?)
        "Oxygen", "Ubuntu", "Cantarell",
          // Basic web fallback
        "Helvetica Neue", Arial, sans-serif !default;

body {
  font-family: $font-family-sans-serif;
}

@mixin f4() {
  font-size: 1.25rem;
}

@mixin f6() {
  font-size: .875rem;
}

@mixin f7() {
  font-size: .75rem;
}
