@mixin pv1() {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@mixin ph1() {
  padding-right: 1rem;
  padding-left: 1rem;
}

@mixin pa1() {
  padding: 1rem 1rem;
}

@mixin pa2() {
  padding: 2rem 2rem;
}

