<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{.String.Meta_Description}}">
    <title>{{block "title" . }} {{.String.Title}} {{end}}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bevan&text=Functionbox">
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/boilerplate.css">
    <link rel="stylesheet" href="/assets/css/main.css"><!--
        <script defer src="/__/firebase/4.6.2/firebase-app.js"></script>
        <script defer src="/__/firebase/4.6.2/firebase-auth.js"></script>
        <script defer src="/__/firebase/4.6.2/firebase-database.js"></script>
        <script defer src="/__/firebase/4.6.2/firebase-messaging.js"></script>
        <script defer src="/__/firebase/4.6.2/firebase-storage.js"></script>
        <script defer src="/__/firebase/init.js"></script>-->
</head>
<body>
    <header>
        <a href="/" class="header-name">Functionbox</a>
        <p>Creates your feature function by function</p>
    </header>
    <main>

    </main>
    <footer>

    </footer>
    <script async src="/assets/js/bundle.js"></script>
</body>
</html>
