{{- define "part/header" -}}
    <div class="header-top">
        <a href="/" class="header-name">Functionbox</a>
        <div class="header-meta">
            <a href="tel:+46735151482" class="header-phone">+46 73 515 14 82</a>
            <a  href="mailto:hello@functionbox.io" class="header-email">
                hello@functionbox.io
            </a>
            <button class="header-btn">Say Hello</button>
        </div>
    </div>
    <nav>
        <a href="/" class="selected">Home</a>
        <a href="/consulting">Consulting</a>
        <a href="/startup">Startup</a>
        <a href="/mvp">MVP</a>
        <a href="/expertice">Expertise</a>
    </nav>
{{ end -}}

