@import '../maxwidth';
@import '../space';


//
// CONSTANTS


// HEADER GRID
//
header {
  padding-top: 100px;
  height: 62.5%;
}
.header-name {
  font-size: 40px;
}
header p {
  padding: 0 1rem;
}


// MAIN GRID
//


// FOOTER GRID
//

