@import "../boxmodel";
@import "../font";
@import "./palette";
@import "./layout";

// BODY
//
body {
  height: 100vh;
  background: $bg-body;
  font-size: 20px;
}

//
// HEADER
header {
  border-top: 20px solid $primary-color-dark;
  text-align: center;
  background: $primary-color;
}
.header-name {
  font-family: 'Bevan', cursive;
  color: $primary-color-text;
  text-decoration: none;
}
header p {
  color: $primary-color-light;
}








