@import "../boxmodel";
@import "../font";
@import "./palette";
@import "./layout";

// BODY
//
body {
  background: $primary-color-light;
  font-size: 20px;
}


// backdrop
//

.backdrop a {
  color: $primary-color-text;
  background: $primary-color;
  border-radius: 0.5rem;
  font-family: 'Bevan', cursive;
  text-decoration: none;
}

.backdrop a:hover {
  background: $primary-color-dark;
}


